@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

/*
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 1000
*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dice-size: 3em;
}

.dm-sans-400 {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.squada-one-bold {
    font-family: "Squada One", sans-serif;
    font-weight: 500;
    font-style: bold;
}

body {
    background-color: green;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    text-align: center;
}

.help {
    display: none;
}

.main, .roller {    
    max-width: 34em;
    min-width: 16em;
    box-shadow: -1px -1px black, 2px 2px black;
    padding: 0.25em 1em;
    background-color: lightgrey;
    border-radius: 1em;
}

.main {
    margin-left: auto;
    margin-right: auto;
}

.title > h1 {
    text-align: center;
    font-size: 3em;
}

.picker, .selected, .controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.controls {
    margin-top: 1em;
    margin-bottom: 1em;
}

.roller-backdrop {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw; /*100%;*/
    height: 100vh; /*100%;*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */

    display: none;
}

.roller {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 25%;
    background-color: lightgrey;    
    transform: translate(-50%, 0);
    max-width: 32em;
    min-width: 16em;
}

.selected {
    background-color: #888;
    outline: inset grey 1px;
    border-radius: 0.5em;
    padding: 0.5em;
    min-height: 4em;
    margin: 0em;
}

.selectable {
    cursor: pointer;
    user-select: none;
}

@media (hover: hover) and (pointer: fine) {
    .selectable:hover {
        /*border-radius: 0.5em;*/
        box-shadow: 0.1em 0.1em 0.2em 0.2em white, -0.1em -0.1em 0.2em 0.2em white;
        transition: box-shadow 250ms ease-out;
    }
}

.dice {
    width: var(--dice-size); 
    height: var(--dice-size); 
    border-radius: 0.5em;
    transition: box-shadow 250ms ease-in;
    margin: 0.25em;
}

.button {
    max-width: 8em;
    min-width: 4em;
    outline: solid black 1px;
    /*box-shadow: -1px -1px black, 2px 2px black;*/
    padding: 0.5em;
    background-color: white;
    border-radius: 1em;
    text-align: center;    
    font-size: 1.5em;
    margin: 0.25em;
}

.recruit {
    background-image: url("../images/dice-symbols/Bullet1X.png");
    background-size: cover;
}

.veteran {
    background-image: url("../images/dice-symbols/Bullet2X.png");
    background-size: cover;
}

.heavy {
    background-image: url("../images/dice-symbols/Bullet3X.png");
    background-size: cover;
}

.recon {
    background-image: url("../images/dice-symbols/Knife.png");
    background-size: cover;
}

.diver {
    background-image: url("../images/dice-symbols/Trident.png");
    background-size: cover;
}

.sniper {
    background-image: url("../images/dice-symbols/Crosshair.png");
    background-size: cover;
}

.engineer {
    background-image: url("../images/dice-symbols/Mine.png");
    background-size: cover;
}

.guerilla-ak {
    background-image: url("../images/dice-symbols/GuerillaAK.png");
    background-size: cover;
}

.guerilla-rpg {
    background-image: url("../images/dice-symbols/GuerillaRPG.png");
    background-size: cover;
}

.roll-fx {
    filter: blur(0.15em);
}

.bob-animation {
    animation: bob 250ms ease-out;
}

@keyframes bob {
    0%   { transform: translateY(0.8em); }
    100% { transform: translateY(0.0em); }
}